body {
    font-family:Bitter, "Times New Roman", serif;
    background-color: #E1A922;
    color:#225DE0;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Oswald, Arial, sans-serif;
    font-size:30pt;
    text-align:center;
}
header {
    text-align:center;
}
header img {
    max-width:100%;
}
#hero, footer {
    text-align:center;
    color:white;
    background-color: #A18440;
    padding:10px;
    border:2px solid #225DE0;
    border-radius:20px;
}
#hero img {
    width:300px;
    max-width:100%;
}
#bio {
    text-align: center;
}

/* Hobbies */
#hobbies ul li:nth-child(even) {
    color:black;
}

/* Gallery */
#gallery, #lit {
    border:2px solid #225DE0;
    border-radius:20px;
    margin-bottom:2em;
}
#gallery img {
    max-width:100%;
}
#gallery figure {
    text-align:center;
}
#gallery hr {
    border:none;
    border-top:2px solid #225DE0;
}

/* Article */

#lit div {
    padding:2em;
    padding-top:0px;
    max-width:40rem;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
}
#lit p {
    clear:both;
}
#lit p:first-letter {
    color:black;
    font-size:3em;
    float:left;
    padding:.25em;
    border:4px double black;
    margin-right:.25em;
    text-shadow:1px 1px 1px rgba(0,0,0,.5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    background-image: radial-gradient(#FFF,#61573f);
}

/* Video */

#video {
    border:2px solid red;
}

#videoContainerContainer {
    width:600px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

#videoContainer {
    position:relative;
    overflow:hidden;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top:56.25%;
}

#myVideo {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
}